.e-btn {
  display: block;
  width: 100%;
  height: 36px;
  line-height: 34px;
  padding: 0 20px;
  min-width: 200px;
  background: #fff;
  color: $clr-main;
  border: 1px solid $clr-main;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;

  &::-moz-focus-inner {
    border: none;
  }

  &:hover,
  &:focus {
    background: $clr-main;
    color: #fff;
  }
}
